@font-face {
    font-family: '8bitfont'; /*a name to be used later*/
    src: url('./PressStart2P.ttf'); /*URL to font*/
}

head {
	background-color: #000000;
}
body{
	background-color: #000000;
}
h1{
	color: #FFFFFF;
	font-family: '8bitfont';
    text-align: center;
}

#code{
    width: 50%;
    height: 105px;
    font-family: '8bitfont';
}

#message{
    width: 50%;
    padding-top: 40px;
    font-size: 25px;
    font-family: '8bitfont';
    color: #ff0000;
    border: 2px solid #c0c0c0;
}

.Title{
	color: #FFFFFF;
	font-family: '8bitfont';
    text-align: center;
}

.Main{
	text-align: center;
    width: 960px;
    margin: auto;
    display: flex;
}
.Window{
	width:960px;
	height:480px;
    border-width: 2px;
    border-color:#c0c0c0;
    margin: auto;
	overflow: hidden;
    /*position:absolute;
	left:50%;
	top:60%;
	margin-left:-480px;
	margin-top: -240px;
	overflow: hidden;*/
}

.Loading{
	width:960px;
	height:480px;
	background-color: #000000;
}
.Loading h1{
	text-align: center;
	position: relative;
	margin-top: 25%;
	-webkit-animation: blinker 1s linear infinite;
	-moz-animation: blinker 1s linear infinite;
	-o-animation: blinker 1s linear infinite;
	animation: blinker 1s linear infinite;
}
@-webkit-keyframes blinker {  
  50% { opacity: 0.0; }
}
@-moz-keyframes blinker {  
  50% { opacity: 0.0; }
}
@-o-keyframes blinker {  
  50% { opacity: 0.0; }
}
@keyframes blinker {  
  50% { opacity: 0.0; }
}

.Board{
	width:2880px;
	height:1440px;
	width:960px;
	height:480px;
	z-index: 0;
	position:relative;
    visibility:hidden;
	/*vertical-align: middle;
	left:50%;
	top:60%;
	margin-left:-480px;
	margin-top: -240px;
	border-style: outset;
    border-width: 5px;
    border-color:#4e2d05;*/
}

.Cell0{
	width:32px;
	height:32px;
	position:absolute;
	z-index: 0;
	background-size: 32px 32px;
    background-repeat: no-repeat;
    background-image: url("../static/Grass0.png");
}
.Cell1{
	width:32px;
	height:32px;
	position:absolute;
	z-index: 0;
	background-size: 32px 32px;
    background-repeat: no-repeat;
    background-image: url("../static/Rock.png");
}
.Cell2{
	width:32px;
	height:32px;
	position:absolute;
	z-index: 0;
	background-size: 32px 32px;
    background-repeat: no-repeat;
    background-image: url("../static/Flower.png");
}
.Cell3{
	width:32px;
	height:32px;
	position:absolute;
	z-index: 0;
	background-size: 32px 32px;
    background-repeat: no-repeat;
    background-image: url("../static/Tree.png");
}
.PCell0{

	width:32px;
	height:32px;
	position:absolute;
	z-index: 0;
	background-size: 32px 32px;
    background-repeat: no-repeat;
    background-image: url("./Purple/Purple_Grass.png");
}
.PCell1{
	width:32px;
	height:32px;
	position:absolute;
	z-index: 0;
	background-size: 32px 32px;
    background-repeat: no-repeat;
    background-image: url("./Purple/Purple_Rock.png");
}
.PCell2{
	width:32px;
	height:32px;
	position:absolute;
	z-index: 0;
	background-size: 32px 32px;
    background-repeat: no-repeat;
    background-image: url("./Purple/Purple_Flower.png");
}
.BCell0{
	width:32px;
	height:32px;
	position:absolute;
	z-index: 0;
	background-size: 32px 32px;
    background-repeat: no-repeat;
    background-image: url("./Blue/Blue_Grass.png");
}
.BCell1{
	width:32px;
	height:32px;
	position:absolute;
	z-index: 0;
	background-size: 32px 32px;
    background-repeat: no-repeat;
    background-image: url("./Blue/Blue_Rock.png");
}
.BCell2{
	width:32px;
	height:32px;
	position:absolute;
	z-index: 0;
	background-size: 32px 32px;
    background-repeat: no-repeat;
    background-image: url("./Blue/Blue_Flower.png");
}
.RCell0{
	width:32px;
	height:32px;
	position:absolute;
	z-index: 0;
	background-size: 32px 32px;
    background-repeat: no-repeat;
    background-image: url("./Red/Red_Grass.png");
}
.RCell1{
	width:32px;
	height:32px;
	position:absolute;
	z-index: 0;
	background-size: 32px 32px;
    background-repeat: no-repeat;
    background-image: url("./Red/Red_Rock.png");
}
.RCell2{
	width:32px;
	height:32px;
	position:absolute;
	z-index: 0;
	background-size: 32px 32px;
    background-repeat: no-repeat;
    background-image: url("./Red/Red_Flower.png");
}
.YCell0{
	width:32px;
	height:32px;
	position:absolute;
	z-index: 0;
	background-size: 32px 32px;
    background-repeat: no-repeat;
    background-image: url("./Yellow/Yellow_Grass.png");
}
.YCell1{
	width:32px;
	height:32px;
	position:absolute;
	z-index: 0;
	background-size: 32px 32px;
    background-repeat: no-repeat;
    background-image: url("./Yellow/Yellow_Rock.png");
}
.YCell2{
	width:32px;
	height:32px;
	position:absolute;
	z-index: 0;
	background-size: 32px 32px;
    background-repeat: no-repeat;
    background-image: url("./Yellow/Yellow_Flower.png");
}

.Player{
	width:56px;
	height:56px;
	position:absolute;
	background-size:500% 400%;
}

img{
	width:32px;
	height:32px;
}



.right {
	-webkit-animation: rightframe .9s steps(5) infinite;
	-moz-animation: rightframe .9s steps(5) infinite;
	-o-animation: rightframe .9s steps(5) infinite;
	animation: rightframe .9s steps(5) infinite;
}
@-webkit-keyframes rightframe {
	from { background-position: 0% 0%; }
	to { background-position: -500% 0%; }
}
@-moz-keyframes rightframe {
	from { background-position: 0% 0%; }
	to { background-position: -500% 0%; }
}
@-o-keyframes rightframe {
	from { background-position: 0% 0%; }
	to { background-position: -500% 0%; }
}
@keyframes rightframe {
	from { background-position: 0% 0%; }
	to { background-position: -500% 0%; }
}

.left {
	-webkit-animation: leftframe .9s steps(5) infinite;
	-moz-animation: leftframe .9s steps(5) infinite;
	-o-animation: leftframe .9s steps(5) infinite;
	animation: leftframe .9s steps(5) infinite;
}
@-webkit-keyframes leftframe {
	from { background-position: 0% -100%; }
	to { background-position: -500% -100%; }
}
@-moz-keyframes leftframe {
	from { background-position: 0% -100%; }
	to { background-position: -500% -100%; }
}
@-o-keyframes leftframe {
	from { background-position: 0% -100%; }
	to { background-position: -500% -100%; }
}
@keyframes leftframe {
	from { background-position: 0% -100%; }
	to { background-position: -500% -100%; }
}

.up {
	-webkit-animation: upframe .9s steps(5) infinite;
	-moz-animation: upframe .9s steps(5) infinite;
	-o-animation: upframe .9s steps(5) infinite;
	animation: upframe .9s steps(5) infinite;
}
@-webkit-keyframes upframe {
	from { background-position: 0% -200%; }
	to { background-position: -500% -200%; }
}
@-moz-keyframes upframe {
	from { background-position: 0% -200%; }
	to { background-position: -500% -200%; }
}
@-o-keyframes upframe {
	from { background-position: 0% -200%; }
	to { background-position: -500% -200%; }
}
@keyframes upframe {
	from { background-position: 0% -200%; }
	to { background-position: -500% -200%; }
}

.down {
	-webkit-animation: downframe .9s steps(5) infinite;
	-moz-animation: downframe .9s steps(5) infinite;
	-o-animation: downframe .9s steps(5) infinite;
	animation: downframe .9s steps(5) infinite;
}
@-webkit-keyframes downframe {
	from { background-position: 0% -300%; }
	to { background-position: -500% -300%; }
}
@-moz-keyframes downframe {
	from { background-position: 0% -300%; }
	to { background-position: -500% -300%; }
}
@-o-keyframes downframe {
	from { background-position: 0% -300%; }
	to { background-position: -500% -300%; }
}
@keyframes downframe {
	from { background-position: 0% -300%; }
	to { background-position: -500% -300%; }
}
