head {
	background-color: #000000;
}
body{
	background-color: #000000;	
}
title{
	color: #FFFFFF;
}
.Main{
	text-align: center;
}
.Window{
	width:960px;
	height:480px;
	border-style: outset;
    border-width: 5px;
    border-color:#4e2d05;
    position:absolute;
	left:50%;
	top:60%;
	margin-left:-480px;
	margin-top: -240px;
	overflow: hidden;
}

.Board{
	width:2880px;
	height:1440px;
	width:960px;
	height:480px;
	z-index: 0;
	position:relative;
	/*vertical-align: middle;
	left:50%;
	top:60%;
	margin-left:-480px;
	margin-top: -240px;
	border-style: outset;
    border-width: 5px;
    border-color:#4e2d05;*/
}

.Cell{
	width:32px;
	height:32px;
	position:absolute;
	z-index: 0;
}

.Player{
	width:32px;
	height:32px;
	position:absolute;

}

img{
	width:32px;
	height:32px;
}