<!DOCTYPE html>
<html>
    <head>
    	<title>Super Int!</title>
        <link rel='stylesheet' type='text/css' href='/static/stylesheet.css'/>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script type="text/javascript" src="/static/json2.js"></script>
        <script src="/static/boardscript.js"></script>
            </head>
	<body>
        <div class="Title"><h1>JJJ</h1></div>
    	<div class="Board" id="board">
            <div class="Cell" id="cell0"><img src="../static/Grass0.png"></div>
    		<div class="Cell" id="cell1"><img src="../static/Grass1.png"></div>
            <div class="Cell" id="cell2"><img src="../static/Flower.png"></div>
            <div class="Cell" id="cell3"><img src="../static/Rock.png"></div>
            <div class="Player" id="me"><img src="../static/R2D2.png"></div>
        </div>
        <div  id="message"></div>
        
	</body>
</html>
