<!DOCTYPE html>
<html>
    <head>
    	<title>JJJ</title>
        <link rel='stylesheet' type='text/css' href='../static/stylesheet.css'/>
        <link rel="stylesheet" type="text/css" href="../static/linedtextarea.css"/>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script type="text/javascript" src="../static/json2.js"></script>
        <script type="text/javascript" src="../static/linedtextarea.js"></script>
        <script type="text/javascript" src="../static/boardscript.js"></script>
    </head>
	<body>
        <div class="Title"><h1>JJJ</h1></div>
        <div class="Window">
            <div class="Board" id="board">
                <div class="Cell0"></div>
                <div class="Cell1"></div>
                <div class="Cell2"></div>
                <div class="Cell3"></div>
                
            </div>
        </div>

        <div class="Main">
            <form>
                <div>
                    <textarea id="code" class="linedtext"></textarea>
                        <br />
                    <!--<input type="submit"/>-->
                </div>
            </form>
        </div>
       
	</body>
</html>
