<!DOCTYPE html>
<html>
    <head>
    	<title>JJJ</title>
        <link rel="stylesheet" type="text/css" href="/static/stylesheet.css"/>
        <link rel="stylesheet" type="text/css" href="/static/linedtextarea.css"/>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script type="text/javascript" src="/static/linedtextarea.js"></script>
        <script type="text/javascript" src="/static/json2.js"></script>
        <script type="text/javascript" src="/static/boardscript.js"></script>
    </head>
	<body>
        <div class="Window">
        	<div class="Board" id="board">
                <div class="Cell"><img src="/static/Grass0.png"></div>
        		<div class="Cell"><img src="/static/Grass1.png"></div>
                <div class="Cell"><img src="/static/Flower.png"></div>
                <div class="Cell"><img src="/static/Rock.png"></div>
                <div class="Player" id="me"><img src="/static/vader.png"></div>
            </div>
        </div>
        <div class="Main">
            <!-- <div class="Message"><input id="message" type="text" value=""/></div> -->
            <form>
                <div>
                    <textarea id="code" class="linedtext"></textarea>
                        <br />
                    <input type="submit"/>
                </div>
            </form>
        </div>
	</body>
</html>
